/* Regular */
@font-face {
	font-family: 'NerdFont';
	src: url('./mesloLGS_NF_regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Bold */
@font-face {
	font-family: 'NerdFont';
	src: url('./mesloLGS_NF_bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* Italic */
@font-face {
	font-family: 'NerdFont';
	src: url('./mesloLGS_NF_italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

/* Bold Italic */
@font-face {
	font-family: 'NerdFont';
	src: url('./mesloLGS_NF_bold_italic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
